<div class="modal" id="delete-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this order of <span id="active-drink-name-span"></span></h5>
      </div>
      <div class="modal-body">
        <p>
          You have made this drink WITH THE CORRECT AMOUNT OF ALCOHOL and will be delivering it to
          <span id="active-drink-recipient-span"></span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="delete-order-cancel-button" data-dismiss="modal">I made a mistake</button>
        <button type="button" class="btn btn-primary" id="delete-order-button">
          <span class="spinner-border spinner-border-sm" id="delete-order-button-spinner" style="display: none" role="status" aria-hidden="true"></span>
          Yeah delete it
        </button>
      </div>
    </div>
  </div>
</div>
