<!DOCTYPE html>
<html lang="en">
<head>
  <title>Order a Drink!</title>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="list-group">
    <% drinkList.forEach(drink => { %>
        <%- include('../partials/availableDrinkRow', { drink }); %>
    <% }); %>
  </div>
  <%- include('../partials/orderModal'); %>
  <%- include('../logic/index'); %>
</body>
</html>
