<!DOCTYPE html>
<html lang="en">
<head>
  <title>Drink Queue</title>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="list-group" id="ordered-drink-list-div"></div>
  <%- include('../partials/deleteModal'); %>
  <%- include('../logic/queue'); %>
</body>
</html>
